/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 .header-section{background:url('../img/banner.jpg')no-repeat;
				background-position:center center;
				background-size:cover;
				margin-bottom:50px;
				}
.message-show{
	padding:160px 0px;}
.text-show{
	}
.text-show h2{color:#DEDEE2;
	font-family:Raleway-light;
	font-size:50px;
	padding:0px 0px;
	text-transform:uppercase;}
.message-show p{color:#D0D3D7;
	font-family:Raleway-light;
	font-size:18px;
	line-height:15px;
	padding:10px 0px;
	border-top:1px solid #4A8FBE;}	
@media(max-width:960px)
	{
	.message-show p{color:#D0D3D7;
	font-family:Raleway-light;
	font-size:15px;
	line-height:15px;
	padding:10px 0px;
	border-top:1px solid #4A8FBE;}	
	}
/*Start menu-section*/
.menu-section{background:white;}	
.header-menu{border:none;
	background:none;}

.menu>li {padding:7px 10px;}
.menu>li>a{font-size:20px;
	color:#fff;}

.button{border:none;
	background-color:#FF9B51;
	height:50px;
	width:100%;
	color:#fff;
	font-size:20px;
	}
/*Start banner-section-top*/	
.header-bottom-section{padding:5px 0px;
	background:#F6F9F9;}
.article h3{padding:2px 0px;
		color:#3F4B5F;
		font-size:30px;}

.article h4{padding:2px 0px;
		color:#B0423F;
		font-size:30px;
		font-family:Kalinga;}
.article
/*Start banner-section-top*/
.banner-section-top{padding:70px 0px;
}
}

/*Start banner-section-two*/	
.slide-section-two{padding:30px 0px;}
.why-this{}
.why-this h1{color:#2D3950;
	font-family:raleway;
	font-size:13px;
	font-weight:regular;
	font-size:35px;
	border-top:1px solid #4AFFFF;
	
	}
@media(max-width:960px)
	{
		.why-this h1{color:#2D3950;
		font-family:raleway;
		font-weight:regular;
		font-size:22px;
		margin:0px; 
		padding:0px
	
	}
	}
.why-this p{margin:0px; 
	padding:0px;
	color:#ACADB0;
	font-family:opensans; 
	font-size:17px;}
.photo img{width:100%}

/*slide-section-one*/
.Well i{color:#FFFFFF;
		font-size:50px;
		padding:30px;
		background:url('../img/blank.jpg')no-repeat;}
.Well h3{color:#2F3D60;
	font-size:20px; 
	font-weight:bold;
	}
.Well{padding:20px 0px;}
.banner-section-two{padding:30px 0px;}

/*slide-section-three*/
.slide-section-three{padding:20px 0px;}
.banner-section-three{background:url('../img/banner-2.jpg')no-repeat;
	background-position:center center;
	background-size:cover;}
.stylis{ padding:5% 0%;}

.stylis  h3{color:#FFFFFF;
	font-family:raleway;
	font-weight:regular;
	font-size:40px;
	
	}
@media(max-width:960px)
	{
		.stylis h3{color:#FFFFFF;
		font-family:raleway;
		font-weight:regular;
		font-size:26px;
	
	}
	}
.stylis p{ padding:0px;
	color:#72757A;
	font-family:opensans;
	font-size:20px;
	}
.control{width:85%;
	height:60px;
	border:1px solid #999999;
	background:none;
	color:#999999;}
.textarea textarea{width:85%;
	height:150px;
	border:1px solid #999999;
	background:none;
	color:#999999;}
.checkbox{
	width:85%;
	padding:2% 0%;
	overflow:hidden;
	margin-left:50px;}	
@media(max-width:960px)
	{
	.checkbox{
	width:85%;
	padding:2% 0%;
	overflow:hidden;
	margin-left:20px;}	
	}
	
.checkbox label{color:#989CA2;
	overflow:hidden;}
.send{background:none;
	color:#989CA2;
	font-size:20px;
	overflow:hidden;}
	
@media(max-width:960px)
	{
	.send{background:none;
	color:#989CA2;
	font-size:12px;
	overflow:hidden;}

	}

.send:hover{background:none;
	color:#989CA2;
	}
.social-icon{padding:20px 0px;
	background-color:#FFFFFF;}
.social i{padding:0px 15px;
	color:#CCCCCC;
	font-size:25px;
	background:#15A4FA;
	padding:10px;
	border-radius:5px;}
@media(max-width:960px)
	{
	.social i{padding:10px;
	color:#CCCCCC;
	font-size:24px;}

	}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
